{
    "client_id": 0,
    "task_id": 4,
    "dataset_location": "/home/wyc/data",
    "n_epochs": 50,
    "init_lr": 0.002,
    "lr_schedule_type": "cosine",
    "lr_schedule_param": null,
    "dataset": "CIFAR100",
    "train_batch_size": 128,
    "test_batch_size": 128,
    "valid_size": 50000,
    "opt_type": "sgd",
    "opt_param": {
        "momentum": 0.9,
        "nesterov": true
    },
    "weight_decay": 0.0005,
    "label_smoothing": 0.1,
    "no_decay_keys": null,
    "model_init": "he_fout",
    "init_div_groups": false,
    "validation_frequency": 2,
    "print_frequency": 10,
    "search": false,
    "is_client": false,
    "n_worker": 2,
    "num_clients": 1,
    "num_tasks": 10,
    "ewc_lambda": 30.0,
    "ewc_samples_per_task": 1024,
    "ewc_online_interval": 1,
    "cl_reg_method": "ewc",
    "cl_reg_decay": 1.0,
    "cl_reg_clip": null,
    "cl_penalty_clip": null,
    "cl_kd_method": "logit",
    "cl_kd_logit_lambda": 1.0,
    "cl_kd_temperature": 2.0,
    "cl_kd_conf_threshold": 0.5,
    "cl_ortho_method": "kd_ortho",
    "cl_ortho_scale": 1.0,
    "ortho_samples_per_task": 4096,
    "classes_per_task": 10,
    "replay_mode": "age_priority",
    "replay_capacity": 9000,
    "replay_per_batch": 128,
    "replay_old_task_scale": 1.0,
    "replay_old_task_scale_by_F": 0.05
}